In [1]:
import pandas as pd
import numpy as np
import json

## Importing raw AirBnB databases to be merged

In [3]:
airbnb_calendar = pd.read_csv(r'D:\IronHack\IronHack_Classes\Week 4\AirBnB_project3\DataSets\2018\calendar_2018.csv')

In [5]:
airbnb_calendar.shape

(6887915, 4)

In [9]:
airbnb_calendar.head(20)

    listing_id        date available   price
0     29671890  2019-12-09         t  $55.00
1     29671890  2019-12-08         t  $55.00
2     29671890  2019-12-07         t  $55.00
3     29671890  2019-12-06         t  $55.00
4     29671890  2019-12-05         t  $55.00
5     29671890  2019-12-04         t  $55.00
6     29671890  2019-12-03         t  $55.00
7     29671890  2019-12-02         t  $55.00
8     29671890  2019-12-01         t  $55.00
9     29671890  2019-11-30         t  $55.00
10    29671890  2019-11-29         t  $55.00
11    29671890  2019-11-28         t  $55.00
12    29671890  2019-11-27         t  $55.00
13    29671890  2019-11-26         t  $55.00
14    29671890  2019-11-25         t  $55.00
15    29671890  2019-11-24         t  $55.00
16    29671890  2019-11-23         t  $55.00
17    29671890  2019-11-22         t  $55.00
18    29671890  2019-11-21         t  $55.00
19    29671890  2019-11-20         t  $55.00

In [6]:
airbnb_listings_simple_2018 = pd.read_csv(r'D:\IronHack\IronHack_Classes\Week 4\AirBnB_project3\DataSets\2018\listings_2018.csv')

In [7]:
airbnb_listings_simple_2018.shape

(18871, 16)

In [8]:
airbnb_listings_simple_2018.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,18666,Flat with Sunny Terrace,71615,Mireia And Maria,Sant Mart√≠,el Camp de l'Arpa del Clot,41.408886,2.185545,Entire home/apt,130,3,1,2015-10-10,0.03,34,20
1,18674,Huge flat for 8 people close to Sagrada Familia,71615,Mireia And Maria,Eixample,la Sagrada Fam√≠lia,41.404197,2.173058,Entire home/apt,55,1,5,2018-06-18,0.07,34,40
2,21605,Nice and sunny duble room,82522,Meritxell,Sant Mart√≠,el Poblenou,41.405604,2.198205,Private room,33,2,103,2018-11-30,3.26,3,290
3,31377,"Room for 2, Sagrada Famili",134698,Svetlana,Horta-Guinard√≥,el Baix Guinard√≥,41.410969,2.170701,Private room,42,3,4,2018-03-12,0.09,3,194
4,31380,"Room for 2-3. Barcelona, Sagrada Famili",134698,Svetlana,Horta-Guinard√≥,el Baix Guinard√≥,41.410900,2.170819,Private room,53,3,38,2018-04-04,0.90,3,217

## Merge Calendar & Listing on listing id

#### Merged Table with Listing & Calendar

In [2]:
df_2019_merged_hosts_calendar = pd.read_csv(r'D:\IronHack\IronHack_Classes\Week 4\AirBnB_project3\Project-Week-3-Data-Thieves\your-project\DataSets\r2019_dece_hosting_id.csv')

In [11]:
df_2019_merged_hosts_calendar.drop(columns = 'Unnamed: 0', inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [12]:
df_2019_merged_hosts_calendar

,listing_id,host_id,date,available,price_x,neighbourhood,latitude,longitude
0,29671890,163279162,2019-12-09,t,55.0,Sants-Montju√Øc,41.369988,2.124774
1,29671890,163279162,2019-12-08,t,55.0,Sants-Montju√Øc,41.369988,2.124774
2,29671890,163279162,2019-12-07,t,55.0,Sants-Montju√Øc,41.369988,2.124774
3,29671890,163279162,2019-12-06,t,55.0,Sants-Montju√Øc,41.369988,2.124774
4,29671890,163279162,2019-12-05,t,55.0,Sants-Montju√Øc,41.369988,2.124774
...,...,...,...,...,...,...,...,...
2121710,30732856,229248409,2018-12-15,t,70.0,Dreta de l'Eixample,41.392822,2.160387
2121711,30732856,229248409,2018-12-14,t,70.0,Dreta de l'Eixample,41.392822,2.160387
2121712,30732856,229248409,2018-12-13,t,70.0,Dreta de l'Eixample,41.392822,2.160387
2121713,30732856,229248409,2018-12-12,t,70.0,Dreta de l'Eixample,41.392822,2.160387
2121714,30732856,229248409,2018-12-11,t,70.0,Dreta de l'Eixample,41.392822,2.160387

In [4]:
df_2019_merged_hosts_calendar.loc[df_2019_merged_hosts_calendar['host_id'] == 44384]

,Unnamed: 0,listing_id,host_id,date,available,price_x,neighbourhood,latitude,longitude
452540,1044265,4383632,44384,2019-11-06,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079
452541,1044266,4383632,44384,2019-11-05,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079
452542,1044267,4383632,44384,2019-11-04,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079
452543,1044268,4383632,44384,2019-11-03,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079
452544,1044269,4383632,44384,2019-11-02,t,120.0,La Sagrada Fam√≠lia,41.411243,2.175079
...,...,...,...,...,...,...,...,...,...
452826,1044621,4383632,44384,2018-12-19,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079
452827,1044622,4383632,44384,2018-12-18,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079
452828,1044627,4383632,44384,2018-12-13,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079
452829,1044628,4383632,44384,2018-12-12,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079
452830,1044629,4383632,44384,2018-12-11,t,80.0,La Sagrada Fam√≠lia,41.411243,2.175079

In [10]:
#merging tables over unique listing_id

table_neighborhood_raw = pd.DataFrame.merge(airbnb_calendar, airbnb_listings_simple_2018, left_on = 'listing_id', right_on = 'id')

In [11]:
table_neighborhood_raw

,listing_id,date,available,price_x,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price_y,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,29671890,2019-12-09,t,$55.00,29671890,1910 Estudio,163279162,La Bodega,Sants-Montju√Øc,Sants - Badal,41.369988,2.124774,Entire home/apt,55,2,2,2018-12-02,2.0,1,217
1,29671890,2019-12-08,t,$55.00,29671890,1910 Estudio,163279162,La Bodega,Sants-Montju√Øc,Sants - Badal,41.369988,2.124774,Entire home/apt,55,2,2,2018-12-02,2.0,1,217
2,29671890,2019-12-07,t,$55.00,29671890,1910 Estudio,163279162,La Bodega,Sants-Montju√Øc,Sants - Badal,41.369988,2.124774,Entire home/apt,55,2,2,2018-12-02,2.0,1,217
3,29671890,2019-12-06,t,$55.00,29671890,1910 Estudio,163279162,La Bodega,Sants-Montju√Øc,Sants - Badal,41.369988,2.124774,Entire home/apt,55,2,2,2018-12-02,2.0,1,217
4,29671890,2019-12-05,t,$55.00,29671890,1910 Estudio,163279162,La Bodega,Sants-Montju√Øc,Sants - Badal,41.369988,2.124774,Entire home/apt,55,2,2,2018-12-02,2.0,1,217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887910,30733560,2018-12-15,t,$25.00,30733560,Double bed Room near Highligths,228920555,Giovanni,Gr√†cia,el Camp d'en Grassot i Gr√†cia Nova,41.403428,2.164515,Private room,25,3,0,NaN,NaN,2,90
6887911,30733560,2018-12-14,t,$25.00,30733560,Double bed Room near Highligths,228920555,Giovanni,Gr√†cia,el Camp d'en Grassot i Gr√†cia Nova,41.403428,2.164515,Private room,25,3,0,NaN,NaN,2,90
6887912,30733560,2018-12-13,t,$25.00,30733560,Double bed Room near Highligths,228920555,Giovanni,Gr√†cia,el Camp d'en Grassot i Gr√†cia Nova,41.403428,2.164515,Private room,25,3,0,NaN,NaN,2,90
6887913,30733560,2018-12-12,t,$25.00,30733560,Double bed Room near Highligths,228920555,Giovanni,Gr√†cia,el Camp d'en Grassot i Gr√†cia Nova,41.403428,2.164515,Private room,25,3,0,NaN,NaN,2,90
6887914,30733560,2018-12-11,t,$16.00,30733560,Double bed Room near Highligths,228920555,Giovanni,Gr√†cia,el Camp d'en Grassot i Gr√†cia Nova,41.403428,2.164515,Private room,25,3,0,NaN,NaN,2,90

In [12]:
table_neighborhoods = table_neighborhood_raw[['listing_id', 'date', 'available', 'price_x',  'neighbourhood_group','latitude', 'longitude', 'room_type']]

In [13]:
table_neighborhoods

,listing_id,date,available,price_x,neighbourhood_group,latitude,longitude,room_type
0,29671890,2019-12-09,t,$55.00,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
1,29671890,2019-12-08,t,$55.00,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
2,29671890,2019-12-07,t,$55.00,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
3,29671890,2019-12-06,t,$55.00,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
4,29671890,2019-12-05,t,$55.00,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
...,...,...,...,...,...,...,...,...
6887910,30733560,2018-12-15,t,$25.00,Gr√†cia,41.403428,2.164515,Private room
6887911,30733560,2018-12-14,t,$25.00,Gr√†cia,41.403428,2.164515,Private room
6887912,30733560,2018-12-13,t,$25.00,Gr√†cia,41.403428,2.164515,Private room
6887913,30733560,2018-12-12,t,$25.00,Gr√†cia,41.403428,2.164515,Private room
6887914,30733560,2018-12-11,t,$16.00,Gr√†cia,41.403428,2.164515,Private room

## Data Wrangling

In [14]:
table_neighborhoods_test = table_neighborhoods.copy()

In [17]:
table_neighborhoods = pd.read_csv(r'D:\IronHack\IronHack_Classes\Week 4\AirBnB_project3\DataSets\vDef\table_neighborhoods_objects.csv')

In [11]:
table_neighborhoods_room_types_original.room_type.unique()

NameError: name 'table_neighborhoods_room_types_original' is not defined

In [ ]:
table_neighborhoods_room_types_original.room_type[['Entire home/apt', 'Private room', 'Hotel room', 'Shared room']].value_count()

In [ ]:
table_neighborhoods_room_types_original.groupby('room_type').count()

### formula to remove $ & transforming to float

In [26]:
# float(table_neighborhoods.loc[400, 'adjusted_price'].split("$")[1])

62.0

In [15]:
table_neighborhoods_test['price_x']  = table_neighborhoods_test['price_x'].str.replace('$','')

In [16]:
table_neighborhoods_test['price_x']  = table_neighborhoods_test['price_x'].str.replace(',','')

In [17]:
table_neighborhoods_test['price_x'] = table_neighborhoods_test['price_x'].astype(float)

In [18]:
table_neighborhoods_test.head(20)

,listing_id,date,available,price_x,neighbourhood_group,latitude,longitude,room_type
0,29671890,2019-12-09,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
1,29671890,2019-12-08,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
2,29671890,2019-12-07,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
3,29671890,2019-12-06,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
4,29671890,2019-12-05,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
5,29671890,2019-12-04,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
6,29671890,2019-12-03,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
7,29671890,2019-12-02,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
8,29671890,2019-12-01,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
9,29671890,2019-11-30,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
10,29671890,2019-11-29,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
11,29671890,2019-11-28,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
12,29671890,2019-11-27,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
13,29671890,2019-11-26,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
14,29671890,2019-11-25,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
15,29671890,2019-11-24,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
16,29671890,2019-11-23,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
17,29671890,2019-11-22,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
18,29671890,2019-11-21,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
19,29671890,2019-11-20,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt

In [19]:
table_neighborhoods_test.dtypes

listing_id               int64
date                    object
available               object
price_x                float64
neighbourhood_group     object
latitude               float64
longitude              float64
room_type               object
dtype: object

#### Exporting saved tables

In [26]:
table_neighborhoods_test.to_csv(r'D:\IronHack\IronHack_Classes\Week 4\AirBnB_project3\DataSets\vDef\'table_neighborhoods_objects.csv')

In [34]:
table_neighborhoods_room_types_original.to_csv(r'D:\IronHack\IronHack_Classes\Week 4\AirBnB_project3\DataSets\vDef\table_neighborhoods_room_types_original.csv')

In [28]:
# table_neighborhoods_test['adjusted_price'] = table_neighborhoods_test['adjusted_price'].apply(lambda x:float(table_neighborhoods_test.iloc['adjusted_price'].split("$")[1]))

TypeError: Cannot index by location index with a non-integer key

## Creating Filters for each Room Type

In [22]:
filter_entire_home = df_entire_home['room_type'].str.contains('Entire home')

In [48]:
filter_private_room = df_private_room['room_type'].str.contains('Private room')

In [54]:
filter_shared_room = df_shared_room['room_type'].str.contains('Shared room')

## Dividing Original DataFrame between neighbourhoods & Room types

In [47]:
df_entire_home = table_neighborhoods_test.copy()

In [48]:
# use boolean conditional with .loc
df_entire_home = df_entire_home.loc[filter_entire_home ]

In [49]:
#Creating df_entire_home with only Entire Home Room Type
df_entire_home.head()

,listing_id,date,available,price_x,neighbourhood_group,latitude,longitude,room_type
0,29671890,2019-12-09,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
1,29671890,2019-12-08,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
2,29671890,2019-12-07,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
3,29671890,2019-12-06,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
4,29671890,2019-12-05,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt

In [50]:
df_entire_home.head()

,listing_id,date,available,price_x,neighbourhood_group,latitude,longitude,room_type
0,29671890,2019-12-09,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
1,29671890,2019-12-08,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
2,29671890,2019-12-07,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
3,29671890,2019-12-06,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt
4,29671890,2019-12-05,t,55.0,Sants-Montju√Øc,41.369988,2.124774,Entire home/apt

In [51]:
df_entire_home.drop(columns=['room_type'])

,listing_id,date,available,price_x,neighbourhood_group,latitude,longitude
0,29671890,2019-12-09,t,55.0,Sants-Montju√Øc,41.369988,2.124774
1,29671890,2019-12-08,t,55.0,Sants-Montju√Øc,41.369988,2.124774
2,29671890,2019-12-07,t,55.0,Sants-Montju√Øc,41.369988,2.124774
3,29671890,2019-12-06,t,55.0,Sants-Montju√Øc,41.369988,2.124774
4,29671890,2019-12-05,t,55.0,Sants-Montju√Øc,41.369988,2.124774
...,...,...,...,...,...,...,...
6887180,30732856,2018-12-15,t,70.0,Eixample,41.392822,2.160387
6887181,30732856,2018-12-14,t,70.0,Eixample,41.392822,2.160387
6887182,30732856,2018-12-13,t,70.0,Eixample,41.392822,2.160387
6887183,30732856,2018-12-12,t,70.0,Eixample,41.392822,2.160387
6887184,30732856,2018-12-11,t,70.0,Eixample,41.392822,2.160387

In [52]:
df_entire_home_3000 = df_entire_home.loc[df_entire_home["price_x"] < 3000]

In [58]:
df_entire_home_3000.drop(columns='room_type', inplace=True)

c:\users\langl\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [59]:
df_entire_home_3000

,listing_id,date,available,price_x,neighbourhood_group,latitude,longitude
0,29671890,2019-12-09,t,55.0,Sants-Montju√Øc,41.369988,2.124774
1,29671890,2019-12-08,t,55.0,Sants-Montju√Øc,41.369988,2.124774
2,29671890,2019-12-07,t,55.0,Sants-Montju√Øc,41.369988,2.124774
3,29671890,2019-12-06,t,55.0,Sants-Montju√Øc,41.369988,2.124774
4,29671890,2019-12-05,t,55.0,Sants-Montju√Øc,41.369988,2.124774
...,...,...,...,...,...,...,...
6887180,30732856,2018-12-15,t,70.0,Eixample,41.392822,2.160387
6887181,30732856,2018-12-14,t,70.0,Eixample,41.392822,2.160387
6887182,30732856,2018-12-13,t,70.0,Eixample,41.392822,2.160387
6887183,30732856,2018-12-12,t,70.0,Eixample,41.392822,2.160387
6887184,30732856,2018-12-11,t,70.0,Eixample,41.392822,2.160387

In [29]:
filter_top_head = df_entire_home.iloc[0:2000000]

In [60]:
df_entire_home_3000.to_csv(r'D:\IronHack\IronHack_Classes\Week 4\AirBnB_project3\DataSets\vDef\df_2018_under_3K‚Ç¨.csv')

### Creating KPIs & Analytics

#### Importing table with listing of hosts 2019

In [22]:
df_2019_hosts = pd.read_csv(r'http://data.insideairbnb.com/spain/catalonia/barcelona/2018-12-10/data/listings.csv.gz')

In [23]:
df_2019_hosts.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,18666,https://www.airbnb.com/rooms/18666,20181210203326,2018-12-11,Flat with Sunny Terrace,"Apartment located near the ""Plaza de las Glori...",Nice apartment situated on the penthouse floor...,"Apartment located near the ""Plaza de las Glori...",none,Apartment in Barcelona near to the Plaza de la...,...,t,HUTB-003004,NaN,f,f,flexible,f,f,34,0.03
1,18674,https://www.airbnb.com/rooms/18674,20181210203326,2018-12-10,Huge flat for 8 people close to Sagrada Familia,110m2 apartment to rent in Barcelona. Located ...,Apartment with 110 m2 located in the 6th floor...,110m2 apartment to rent in Barcelona. Located ...,none,Apartment in Barcelona located in the heart of...,...,t,HUTB-002062,NaN,t,f,strict_14_with_grace_period,f,f,34,0.07
2,21605,https://www.airbnb.com/rooms/21605,20181210203326,2018-12-11,Nice and sunny duble room,"The flat is in Poblenou district, and the room...","L'apartament est√† al barri de Poblenou, i l'ha...","The flat is in Poblenou district, and the room...",none,Poblenou as one of the few areas that has grow...,...,t,NaN,NaN,f,f,moderate,f,f,3,3.26
3,31377,https://www.airbnb.com/rooms/31377,20181210203326,2018-12-10,"Room for 2, Sagrada Famili",The room in 500 m from Sagrada Familia. 3 bran...,"Great location, right next to Sagrada Familia,...",The room in 500 m from Sagrada Familia. 3 bran...,none,NaN,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,3,0.09
4,31380,https://www.airbnb.com/rooms/31380,20181210203326,2018-12-11,"Room for 2-3. Barcelona, Sagrada Famili","Room for 2-3. Great location, right next to S...","Great location, right next to Sagrada Familia,...","Room for 2-3. Great location, right next to S...",none,NaN,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,3,0.90

#### Grouping By Host_id in order to discover which Hosts have the most places to rent

In [28]:
df_2019_groupby_top_hosts = df_2019_hosts.groupby('host_id').agg({'host_id':'count'})

In [103]:
df_2019_groupby_top_hosts.nlargest(100, 'host_id')

           host_id bin_label
host_id
4459553        187        99
102947901      116        61
158023606      116        61
396363          98        52
1391607         95        50
...            ...       ...
151637037       16         8
174751009       16         8
208199613       16         8
221368637       16         8
121825          15         7

[100 rows x 2 columns]

In [104]:
df_2019_groupby_top_hosts.to_csv('df_hosts_groupbu_binned.csv')

#### Creating bins to divide hosts in several categories from richest to "least rich"

In [102]:
labels = ['nobody', 'Senior nobody' ,'part-time rich' ,'rich_landlord', 'wannabe mogul','Professional_renters', 'crazy rich MF']

# pd.qcut(range(5), 3, labels=["good", "medium", "bad"])
df_2019_groupby_top_hosts['bin_label'] = pd.cut(df_2019_groupby_top_hosts['host_id'], len(labelos), labels=labelos)

In [95]:
labels = ['1', '2', '3', '4', '5', '6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']
df_2019_groupby_top_hosts['bin_label'] = pd.qcut(df_2019_groupby_top_hosts['host_id'],
                       len(labels),
                       labels = labels,
                      retbins = True)

ValueError: Bin edges must be unique: array([  1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,
         1.,   1.,   1.,   1.,   2.,   2.,   2.,   3.,   5., 187.]).
You can drop duplicate edges by setting the 'duplicates' kwarg

In [101]:
labelos = []
for i in range(100):
    labelos.append(i)

In [ ]:
df_2019_groupby_top_hosts['bin_label'] = pd.qcut(df_2019_groupby_top_hosts['host_id'],
                       len(labelos),
                       labels = labelos,
                      retbins = True)

In [84]:
df_2019_groupby_top_hosts['bin_label'] = pd.qcut(5, labels=['nobody', 'past-time rich','rich_landlord' ,'Professional_renters', 'crazy rich MF'])

TypeError: qcut() missing 1 required positional argument: 'q'

In [86]:
df_2019_groupby_top_hosts

           host_id       bin_label
host_id
3073             1          nobody
10704           72  past-time rich
34580            1          nobody
41161            1          nobody
44384            1          nobody
...            ...             ...
229803008        1          nobody
229823790        1          nobody
229852859        1          nobody
229899376        1          nobody
229983790        1          nobody

[9775 rows x 2 columns]

In [63]:
df_2019_groupby_top_hosts['bin_label'] == df_2019_groupby_bined
df_2019_groupby_top_hosts

KeyError: 'bin_label'

In [13]:
df_2019_groupby_top_hosts

           host_id
host_id
10704        19975
44384          291
45448          128
71615         5228
73163          260
...            ...
229605844       18
229698761      169
229803008      144
229852859      364
229899376      107

[2906 rows x 1 columns]